.btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px; 
    outline: none;
    height: 50px;
    width: 100px;
}

.btn:hover {
    background-color: white;
    color: white;
    background-image: -webkit-linear-gradient(45deg, #2F21AB 0%, #7A34A4 100%);
    background-image: linear-gradient(45deg, #2F21AB, #7A34A4 100%);
    
}

.center{
    margin:0;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn2 {
    background: url(/img/ic_mode_edit_black_24dp.svg);
    background-size:30px;
    border:2px solid white;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor:pointer;
    border-radius: 50%;
    outline: none;
    display: block;
    height: 38px;
    width: 38px;
    bottom: 10px;
    right: 10px;
    position: absolute;
}

body {
    background: url(/img/luke-chesser-eICUFSeirc0-unsplash.jpg)
}

.wel {
    text-align: center;
    color: white;
    animation-name: text;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes text {
    
}